.block{
    position:relative;   
}

.highlight {
 border:solid black;

}
.canvas-slots {
    position:relative;
}

#square { 
    width: 110px; 
    height: 100px; 
    background: #16a085; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#triangle1 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent #f1c40f transparent; 
}

#triangle2 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 150px 150px;
    border-color: transparent transparent    transparent #e74c3c;
    top:-100px;
}

#triangle3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 150px;
    border-color: #007bff transparent transparent transparent;
    top:-100px;
}

#triangle4 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent transparent #d63294 transparent;
    top:-300px;
}

#triangle5 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 80px 0;
    border-color: transparent #69dcf0 transparent transparent;
    top: -350px;
}

#parallelogram {
    width: 150px;
    height: 70px;
    transform:rotate(-45deg);
    -webkit-transform: skew(-45deg);
       -moz-transform: skew(-45deg);
         -o-transform: skew(-45deg);
    background: #e67e22;
    top:-600px;
}

/*Page layout*/
.blockTray {
    float: left;
    height: 600px;
    width: 600px;
    text-align: center;
    vertical-align: top;
    background-color: #ecf0f1;
    margin:3%;
    border-radius: 30px;
   
  
    
}

.canvas-slots {
    display: inline-block;
    height: 600px;
    width: 600px;
    text-align: center;
    vertical-align: top;
    background-color: #ecf0f1;
    margin:3%;
    border-radius: 30px;
}


html, body {
    height:100%;
    width:100%;
    justify-content: center;
    background-size: cover; 
}

.block-slot-square {
    width: 110px; 
    height: 100px; 
    background: #595a5a; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.block-slot-triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    background: #595a5a; 
    border-color: transparent; 
}
.block-slot-triangle2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 150px 150px;
    border-color: transparent  #595a5a;
    top:-100px;
}
.block-slot-triangle3{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 150px;
    border-color: #595a5a transparent;
    top:-100px;
}
.block-slot-triangle4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent  #595a5a ;
    top:-300px;
}
.block-slot-triangle5 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 80px 0;
    border-color: transparent #595a5a transparent transparent;
    top: -350px;
}

.block-slot-parallelogram {
    width: 150px;
    height: 70px;
    transform:rotate(-45deg);
    -webkit-transform: skew(-45deg);
       -moz-transform: skew(-45deg);
         -o-transform: skew(-45deg);
    background: #595a5a;
    top:-600px;
}