.welcome_page{
    background-image: url("/static/images/background.png");
}


html {

    box-sizing:border-box;
    display:inline-block;

}
html, body {
    height:100%;
    width:100%;
    justify-content: center;
    background-size: cover;

}


.block {
    display: inline-flex;
}

#square {
    width: 100px;
    height: 100px;
    background: #16a085;
    transform: rotate(45deg);
}

#triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 75px 75px;
    border-color: transparent transparent #f1c40f transparent;
    transform: rotate(90deg)
}

#triangle2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 150px 150px;
    border-color: transparent transparent    transparent #e74c3c;
    transform: rotate(-45deg)
}

#triangle3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 150px;
    border-color: #007bff transparent transparent transparent;

}

#triangle4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent  #d63294 ;
    transform: rotate(-45deg)

}

#triangle5 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 75px 75px 0;
    border-color: transparent #69dcf0 transparent transparent;
    transform: rotate(180deg)
}

#parallelogram {
    width: 150px;
	height: 70px;
    line-height: 50px;
    /* text-align: center; */
    background: #e67e22;
    transform: skewX(-45deg);

}

/*Page layout*/
.blockTray {
	float: left;
	height: 600px;
	width: 600px;
    background-color: #ecf0f1;
    border-radius: 30px;
    margin:30px;



}

.canvas-slots {
	display: inline-block;
	height: 600px;
	width: 600px;
    background-color: #ecf0f1;
    border-radius: 30px;
    margin:30px;
}


html, body {
    height:100%;
    width:100%;
    justify-content: center;
    background-size: cover;
}

#slot-square{
    width: 100px;
    height: 100px;
    background: #595a5a;
    transform: rotate(0deg);
    /* transform-origin: bottom; */
    position:absolute;
    top:100px;
    left:140px;


}
#slot-triangle1  {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 75px 75px;
    border-color: transparent transparent #595a5a transparent;
    transform: rotate(180deg);
    position:absolute;
    top:315px;
    left:275px;
    /* position:relative; */
    z-index: 1;

}
#slot-triangle2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 150px 150px;
    border-color: transparent  #595a5a ;
    transform: rotate(270deg);
    position:absolute;
    top:90px;
    left:200px;
}
#slot-triangle3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 150px;
    border-color: #595a5a transparent ;
    transform: rotate(180deg);
    position:absolute;
    top:315px;
    left:125px;

}
#slot-triangle4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent  #595a5a  ;
    /* transform: rotate(180deg);   */
    position:absolute;
    top:315px;
    left:125px;

}
#slot-triangle5 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 75px 75px 0;
    border-color: transparent #595a5a transparent transparent;
    /* transform: rotate(0deg); */
    position:absolute;
    top:315px;
    left:350px;
    z-index:  2;


}

#slot-parallelogram {
    width: 150px;
	height: 70px;
    line-height: 50px;
    text-align: center;
    background: #595a5a;
    transform: skewX(-45deg);
    position:absolute;
    top:96px;
    left:310px;

}

.container {
    display:flex;
    flex-direction:row;
    text-align:center;

}

.canvas-slots {
    border:0px;
    position:relative;
}







.content {
    display: inline;
    text-align:center;
    justify-content: center;
     /*background-position: center;*/
    /*margin-top:200px;*/
    /*margin-right: 300px;*/
    /*margin-left: 300px;*/
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    padding-bottom:100px;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top:100px;
}
.title_main {
    font-family: "Arial Black";
    font-size: 230px;
    text-align: center;
    /*justify-content: center;*/
    margin-top:300px;
    color: black;


}


/*img {*/
/*    display: inline-block;*/


/*}*/
/*.board_1 {*/
/*    float:left;*/


/*    !*margin-top: 100px;*!*/
/*}*/

/*.board_3 {*/
/*    float:right;*/


/*    !*margin-top: 500px;*!*/
/*}*/

/*.board_2 {*/
/*    display:inline-block;*/



/*    !*margin-top: 100px;*!*/
/*}*/

.btn  {
    margin:5px;
    float:right;
}

.button {
  display: inline-block;
  padding: 0.7em 1.9em;
  margin: 0 0.3em 0.3em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;

}

.button:hover {
  color: white;
  background-color: #2fa875;
}

.house {
    width:500px;
}
.bird {
    width:510px;
}
.cat {
    width:505px;
}


